
<div class="modal" data-modal="validation">
    <div class="inner">
        <div class="modal-ttl large-text text-center mb-middle"><strong><%- __('purchase.input.modal.validation.ttl') %></strong></div>
        <div class="mb-middle text-center modal-body"></div>
        <div class="button small-button gray-button"><a class="center modal-close" href="#"><%- __('common.close') %></a></div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>