<div class="contents">
    <h1 class="page-ttl">座席選択</h1>
    <div class="mb-middle">
        <app-screen [inputData]="screenData" [test]="false" (select)="seatSelect($event)" (alert)="seatSelectionAlert()" (load)="loadScreen($event)">
            <!-- <app-seat-info type="{{ purchase.data.screeningEvent?.superEvent.coaInfo.kbnJoueihousiki?.kubunCode }}"></app-seat-info> -->
            <app-seat-info></app-seat-info>
        </app-screen>
    </div>

    <div class="film-info radius mb-large">
        <p class="mb-small">現在、選択されているチケットは下記のとおりです。</p>
        <dl>
            <dt>劇場 / スクリーン</dt>
            <dd class="border-bottom-dot">
                {{ purchase.getTheaterName() }} / {{ purchase.getScreenName() }}
            </dd>
            <dt>鑑賞日時</dt>
            <dd class="border-bottom-dot">
                {{ purchase.getAppreciationDate() }} {{ purchase.getStartDate() }} - {{ purchase.getEndDate() }}
            </dd>
            <dt>作品名</dt>
            <dd>{{ purchase.getTitle() }}</dd>
        </dl>
    </div>

    <form [formGroup]="seatForm" (ngSubmit)="onSubmit()">
        <div class="button-area">
            <div class="button next-button blue-button">
                <button type="submit">
                    <app-icon iconName="next-white" width="15" height="15"></app-icon>次へ
                </button>
            </div>
        </div>
    </form>
</div>

<app-modal [open]="notSelectSeatModal" [layout]="true" (close)="notSelectSeatModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>座席が未選択です</strong>
    </div>
    <p class="text-center">ご希望の空席を選択して「次へ」ボタンを押してください。</p>
</app-modal>

<app-modal [open]="upperLimitModal" [layout]="true" (close)="upperLimitModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>予約座席数が上限です</strong>
    </div>
    <p class="text-center">予約座席数は最大
        <span class="seat-limit-text">{{ purchase.data.screeningEvent?.remainingAttendeeCapacity }}</span>席までとなります。</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>
<app-navigation-button prevLink="/purchase/schedule" [confirm]="false"></app-navigation-button>