.order-info, .charge {
    display: table;
    border-collapse:collapse;
    width: 100%;

    dl {
        display: table-row;
        border: 1px solid #ccc;
    }

    dt, dd {
        padding: 20px;
        display: table-cell;
    }

    dt {
        background-color: #34495e;
        color: white;
    }
}
.charge {
    dt {
        width: auto;
    }

    dd {
        width: 160px;
    }
    
    .cashing {
        position: relative;
        background-color: #bdc3c7;
        padding: 0;
        &.inputing {
            background-color: #f1c40f;
        }
        span {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 20px;
        }
    }
}