.payment-methods {
    width: 100%;
    display: inline-block;

    .payment-button {
        background-color: #f39c12;
        color: white;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        font-size: 2em;
        padding: 20px;
        width: 100%;
        margin: 10px auto;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}